/* ============= Page ================ */
.aboutContainer .firstDescription {
    margin-top: 13vh;
    align-self: end;
    margin-bottom: 5vh;

    animation: comeRight 0.5s linear;
}

.aboutContainer .secondDescription {
    text-align: end;
    align-self: start;
    animation: comeLeft 0.5s linear;
}

.aboutContainer .firstDescription p {
    margin-block: 5vh;
}

.aboutContainer .button {
    margin-inline: 10px;
}

@keyframes comeRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes comeLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1410px) {
    .aboutContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column-reverse;

        justify-content: start;
    }

    .aboutContainer .secondDescription {
        width: 100%;
        text-align: start;
        align-self: start;
        align-items: start;
    }

    .aboutContainer .firstDescription {
        width: 100%;
        align-self: end;
        align-items: end;

        margin-top: 64px;
    }
}