/* ============ Mey's image =========== */
.imageMeyDetour {
    height: 100%;
    animation: animImg 1s ease 0s 1 normal forwards;
}


/* ============= Texts ================ */
.creative {
    color: var(--simplet);
}

.intro {
    padding-inline: 5%;
    animation: introAnim 1s ease 0s 1 normal forwards;
}

.intro h1 {
    font-size: 5em;
    margin-block: 2vh;

    animation: homeTitle 1s ease 0s 1 normal forwards;
}

.intro p {
    margin-block: 3vh 10vh;
}

/* Nav options */
.navigation {
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.navigation ul li {
    margin-right:  50px;
    animation: animNav 1s ease 0s 1 normal forwards;
}

@media only screen and (max-width: 1520px){

    .intro h1 {
        font-size: 50px
    }
}
@media only screen and (max-width: 1360px){

    .intro h1 {
        font-size: 3.3em;
    }
}@media only screen and (max-width: 1240px){

    .intro h1 {
        font-size: 2.6em;
    }
    .imageMeyDetour{

        width: 39%;
        object-fit: contain;
    }
}

/* ============= Icons ================ */
.socialIcon {
    position: absolute;top: 50px;
    right: 50px;
    animation: homeTitle 1s ease 0s 1 normal forwards;
}

.socialIcon img {
    margin-bottom: 10px;

}

@keyframes animImg {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes animNav {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes homeTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes introAnim {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}