.projectsContainer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    animation : slice 1s ;
}
.projectsContainer a {
width: 32%;

    box-shadow: #cb9f9f61 0px 0px 31px 0px;
}
.projectsContainer a img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
}
.projectsContainer a:hover{
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
    box-shadow: #0000001c 0px 0px 20px 5px;
}
.projectsTexts{
    animation: opacity 1s;
}
@-webkit-keyframes slice {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slice {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*===============PROJECT============*/
.projectPresentation{
    padding-right: 25px;
    box-sizing: border-box;
}
.stepContainer h2 {
    font-weight: 800;
    font-size: 37px;
    margin-block: 10px;
}
.linkProject{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black 2px solid;
    width: fit-content;
position: relative;
    padding: 10px 20px;
    box-sizing: border-box;

}
.linkProject:after{
    content: "";
    height: 100%;
    width: 0%;
    background: black;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
    transition: all .5s;
}
.linkProject img{
    margin-left: 10px;
}
.linkProjectcontainer{
    width: fit-content;

}
.linkProjectcontainer:hover .linkProject:after{

    width: 100%;
}
.linkProjectcontainer:hover .linkProject{
    color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media only screen and (max-width: 1080px) {
   .projectsTexts{
       margin-bottom: 50px;
   }
    .projectsTexts p{
        width: 100%;
    }
    .projectsContainer{
        flex-direction: column;
        width: 100%;
        margin-bottom: 55px;
        gap: 50px;
    }
    .projectsContainer a{
        width: 100%;
        gap: 47px;

    }
    .projecsPage{
        height: fit-content;
    }
}