@media only screen and (min-width: 200px) {
    background: black;
}

@media only screen and (min-width: 300px) {
    background: darkred;
}

@media only screen and (min-width: 400px) {
    background: gold;
}

@media only screen and (min-width: 500px) {
    background: coral;
}

@media only screen and (min-width: 600px) {
    background: navy;
}

@media only screen and (min-width: 700px) {
    background: darkgreen;
}

@media only screen and (min-width: 800px) {
    background: brown;
}

@media only screen and (min-width: 900px) {
    background: lime;
}

@media only screen and (min-width: 1000px) {
    background: lightblue;
}

@media only screen and (min-width: 1100px) {
    background: teal;
}

@media only screen and (min-width: 1200px) {
    background: pink;
}

@media only screen and (min-width: 1300px) {
    background: purple;
}

@media only screen and (min-width: 1400px) {
    background: red;
}

@media only screen and (min-width: 1500px) {
    background: orange;
}

@media only screen and (min-width: 1600px) {
    background: yellow;
}

@media only screen and (min-width: 1700px) {
    background: green;
}

@media only screen and (min-width: 1800px) {
    background: blue;
}
